.sidebar {
   position: fixed;
  top: 0;
  left: 0;
  width: 250px;  /* adjust */
  height: 100vh; /* full height */
  overflow-y: auto; 
    background-color: #3d3a3a;
    border-right: 1px solid #0c0b0b;
    overflow-y: auto;
    padding: 16px 0;
    box-sizing: border-box;
}

.sidebar-header {
    padding: 0 16px 16px;
    border-bottom: 1px solid #a19d9d;
    margin-bottom: 16px;
}

.sidebar-title {
    font-size: 14px;
    font-weight: 600;
    color: #eae9e9;
}

.sidebar-item {
    padding: 8px 16px;
    margin: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #f3eeee;
    transition: all 0.2s ease;
}

.sidebar-item:hover {
    background-color: #e8e8e8;
    color: #333;
}

.sidebar-item.active {
    background-color: #d4d4d4;
    color: #000;
    font-weight: 500;
}

.sidebar-item-icon {
    margin-right: 8px;
    display: inline-block;
}


.sidebar-item.active .sidebar-link {
    background-color: #d4d4d4;
    color: #000;
    font-weight: 500;
}


